/* body{margin-left: 10%; 
    margin-right: 10%;
    
    background: #ffffff
} */
   
.tritri{
    color: aquamarine;
  }

  /* connection */
  
  .contact{
    padding:180px 0px 100px 0px ;
    min-height: 100vh;
  }
  
  .contact-form-container {
    max-width: 600px;
    margin: auto;
  }
  
  .contact-form-container form label {
    display: block;
    font-weight: 700;
  }
  
  .contact-form-container form input {
    display: block;
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
  } 
  
  .contact-form-container form textarea {
    min-height: 80px;
  }
  
  /* footer */
  
  
      /* pageproduit */
    /* h1{
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        color: darkslategray;
    } */

    h2 {text-align: center;
        color: hwb(200 2% 4% / 0.98);
        font-family: 'BioRhyme Expanded', serif;
  font-family: 'Michroma', sans-serif;
         margin-top: 40px;
         font-size: xx-large;}
        
    /* img {width: 400px;
    height: 400px;
    display: column;
    margin-left: 80px;
  margin-right: 80px;} */
  
  .logomini {width: 40px;
            height: 40px;
            margin-top: -270px;}
  
  .baladesm {text-align: center;
    font-family: 'Michroma', sans-serif;
                color: #06b8f3;}
     
  .plongéesm {text-align: center;  
    font-family: 'Michroma', sans-serif;
                color: #06b8f3;}
              
  .proménade {text-align: center;
    font-family: 'Michroma', sans-serif;
    color: #06b8f3;}
  
   .baleinebleu {text-align: center;
    font-family: 'Michroma', sans-serif;
   color: #06b8f3;}
  
   .dauphin {text-align: center;
    font-family: 'Michroma', sans-serif;
    color: #06b8f3;}
  
   .requintigre {text-align: center;
    font-family: 'Michroma', sans-serif;
   color: #06b8f3;}
  
   .requinpelerin {text-align: center;
     font-family: 'Michroma', sans-serif;
    color: #06b8f3;}
  
   .requintaupe {text-align: center;
    font-family: 'Michroma', sans-serif;
   color: #06b8f3; }
  
  
   .pgauche {margin-left: -465px;
  margin-top: -1px;}
   .pdroite {text-align: right;
  margin-right:315px ;
  margin-top: -40px;}
  
  .pricebalade {margin-left: 295px;
    font-family: 'Michroma', sans-serif;
  margin-top: -10px;}
  
  .pricebiwou {margin-left: 770px;
               margin-top: -43px;
               font-family: 'Michroma', sans-serif;}
  
  .priceplongée {margin-left: 755px;
                 margin-top: -43px;
                 font-family: 'Michroma', sans-serif;}
  
  .ariane {margin-left: 20px;}
  
  .poissonachat {height: 30px;
                  width: 30px;
                margin-left: 65px;
              margin-top: -40px;}
  
  .poissonachat2 {height: 30px;
    width: 30px;
  margin-left: 54px;
  margin-top: -40px;}
             
  .poissonachat3 {height: 30px;
    width: 30px;
  margin-left: 68px;
  margin-top: -40px;}
  
  
              
              /* page accessoires */
  
              .colonne1{display: flex;
                justify-content: center;}
                
              .colonne2 {display: flex;
                justify-content: center;}
  
              .colonne3 {display: flex;
                justify-content: center;}
  
              .colonne4 {display: flex;
                justify-content: left;
              margin-left: 150px;}
                
  
                
                
                
              .peluchemarteau {width: 300px;
                height: 280px; }
                           
              
              .pelucherequin {width: 300px;
                height: 280px;}
  
              .kitplonge {width: 300px;
                height: 280px;}
  
              .aquacuisine {width: 300px;
                height: 270px;}
  
  
              .kit {text-align: center;
                font-family: 'Michroma', sans-serif;
               color: #06b8f3;
               /* font-size: x-large; */
              margin-top: -4px;}
  
               .pelreq {text-align: center;
                font-family: 'Michroma', sans-serif;
               color: #06b8f3;
               /* font-size: x-large; */
              margin-top: -4px;}
              .priceright2 {margin-left: 205px;
               margin-top: -35px;
               font-family: 'Michroma', sans-serif;
            font-size: large;}
  
             .cuisine {text-align: center;
              font-family: 'Michroma', sans-serif;
            color: #06b8f3;
           margin-top: -2px;}
           .pricecuisine {margin-left: 180px;
            margin-top: -15px;
            font-family: 'Michroma', sans-serif; }
        
  
         .marteau {text-align: center;
          font-family: 'Michroma', sans-serif;
         color: #06b8f3;
          margin-top: -3px; }
         
          .harpon {text-align: center;
            font-family: 'Michroma', sans-serif;;
           color: #06b8f3;
          margin-left: 310px;}
  
          .harponname {text-align: center;
            font-family: 'Michroma', sans-serif;
           color: #06b8f3;
          margin-left: 230px;
        margin-top: -3px;}
  
          .priceharpon {margin-left: 228px;
                        margin-top: -19px;
                        font-family: 'Michroma', sans-serif;   }
                     
  
          .aquageant {text-align: center;
            font-family: 'Michroma', sans-serif;
           color: #06b8f3;
          margin-top: -2px;}
  
          .pricegeant {font-family: 'Michroma', sans-serif; 
                       margin-left: 180px;
                      margin-top: -15px;}
         
          .pricepelucho {font-family: 'Michroma', sans-serif; 
            margin-left: 205px;
           margin-top: -35px;}
         
           .kitkit {font-family: 'Michroma', sans-serif; 
            margin-left: 180px;
           margin-top: -15px;}
  
           .claquette2 {text-align: center;
            font-family: 'Michroma', sans-serif;
          color: #06b8f3;
         margin-top: -2px;}
  
           .priceclaquette {margin-left: 200px;
            margin-top: -34px;
            font-family: 'Michroma', sans-serif;}
  
  
                      /* food */
  
  
                      
              .cofood1{display: flex;
                justify-content: center;}
                
              .cofood2{display: flex;
                justify-content: center;}
  
                  .food2 {width: 200px;
                    height: 180px;}
  
                .superfood {width: 200px;
                  height: 180px;}
  
                  .food3 {width: 200px;
                    height: 180px;}
  
                    .food4 {width: 200px;
                      height: 180px;}
  
                .food {text-align: center;
                  font-family: 'Michroma', sans-serif;
                 color: #06b8f3;
                margin-top: -4px;}
  
                .price {margin-left: 215px;
                  margin-top: -35px;
                 font-family: monospace;
               font-size: large;}



