/* .priceup {margin-left: 1000px;
            margin-top: -80px;}
.quantity-input {margin-left: 1000px;}
.pricedown {margin-left: 1000px;
            margin-top: -80px;}



.namepanier {margin-left: 170px;
            margin-top: -65px;} */
li.row {
    margin-top: 5%;
}
.add-to-cart-btn{
    margin-top: 10%;
    margin-bottom: 10%;
}
h3{
    margin-top: 1%;
}
.cart{
    margin-bottom: 10%;
}
